@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
    --primary: #6e30f5;
    --purple-dark: #4525b6;
    --white: #ffffff;
    --black: #121212;
    --black-alt: #1E1E1E;
    --blue: #1050ED;
    --blue-dark: #0c0c4a;
    --green: #01e3b5;
    --blue-light: #3f67c1;
    --gray-1: #788190;
    --gray-2: #d3d4db;
    --body: #f1f1f1;
    --light-green: #0de4d7;
    --light-blue: #f4f9fd;

}

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-size: 75px;
    font-weight: 800;
  }
  
  h2 {
    font-size: 60px;
    font-weight: 700;
  }
  
  h3 {
    font-size: 45px;
    font-weight: 600;
  }
  
  h4 {
    font-size: 30px;
    font-weight: 500;
  }
  
  h5 {
    font-size: 22.5px;
    font-weight: 500;
  }

  h6 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }


  p {
    font-size: 17.5px;
    font-weight: 400;
  }

  label {
    font-size: 15px;
    font-weight: 600;
    color: var(--blue-dark);
  }

  strong{
    font-size: 45px;
    font-weight: 700;
  }

  .rounded-20 {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  .rounded-30 {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

img {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/*Navbar*/

.navbar {
  background-color: white;
}

.navbar-brand img{
  width: 60px;
}

.navbar-toggler {
  padding: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: none;
}


.btn{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btn-primary,
.btn-outline-secondary{
    padding: 20px;
}

.btn-primary{
    background-color: var(--primary);
    border: var(--primary);
}

.main-btn a {
  background-color: var(--white);
  color: var(--primary);
  border: var(--white);
  padding: 20px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: ease 0.8s;
  -webkit-transition: ease 0.8s;
  -moz-transition: ease 0.8s;
  -ms-transition: ease 0.8s;
  -o-transition: ease 0.8s;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.main-btn a:hover {
  background-color: var(--green);
  color: var(--blue-dark); /* Change text color to white on hover */
}

.alt-btn a {
  background-color: var(--primary);
  color: var(--white);
  padding: 20px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: ease 0.8s;
  -webkit-transition: ease 0.8s;
  -moz-transition: ease 0.8s;
  -ms-transition: ease 0.8s;
  -o-transition: ease 0.8s;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.alt-btn a:hover {
  background-color: var(--green);
  color: var(--blue-dark); /* Change text color to white on hover */
}


.btn-primary:hover {
    background-color: var(--blue-dark);
    transition: ease 0.8s;
    -webkit-transition: ease 0.8s;
    -moz-transition: ease 0.8s;
    -ms-transition: ease 0.8s;
    -o-transition: ease 0.8s;
}

.btn-outline-secondary:hover {
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--blue-dark);
    transition: ease 0.8s;
}

.btn-outline-secondary:focus {
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--blue-dark);
}

.navbar {
    padding: 32px 0;
}

.nav-link {
    margin-left: 20px;
    font-size: 16px;
    color: var(--gray-1);
}

.navbar-nav .nav-link.active {
    font-weight: 500;
    color: #6e30f5;
}

.navbar-nav .nav-link:hover {
    color: var(--green)
}

@media (max-width: 768px) {

  .navbar-nav .nav-item {
    margin-bottom: 20px; /* Adjust the spacing as needed */
  }
}


.hero {
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero img {
  transform: translateY(7.5%);
  -webkit-transform: translateY(7.5%);
  -moz-transform: translateY(7.5%);
  -ms-transform: translateY(7.5%);
  -o-transform: translateY(7.5%);
  position: sticky; /* Add this line */
  top: 0; /* Add this line */
  width: 100%; /* Add this line */
}

@media (max-width: 1025px) {
  .hero img {
  transform: translateY(17%);
  -webkit-transform: translateY(17%);
  -moz-transform: translateY(17%);
  -ms-transform: translateY(17%);
  -o-transform: translateY(17%);
}
}

@media (max-width: 992px) {
  .hero img {
    transform: translateY(7%);
    -webkit-transform: translateY(7%);
    -moz-transform: translateY(7%);
    -ms-transform: translateY(7%);
    -o-transform: translateY(7%);
}
}

@media (max-width: 768px) {
  .hero img {
    transform: translateY(7%);
    -webkit-transform: translateY(7%);
    -moz-transform: translateY(7%);
    -ms-transform: translateY(7%);
    -o-transform: translateY(7%);
}
}

@media (max-width: 426px) {
  .hero img {
    transform: translateY(6%);
    -webkit-transform: translateY(6%);
    -moz-transform: translateY(6%);
    -ms-transform: translateY(6%);
    -o-transform: translateY(6%);
}
}

@media (max-width: 376px) {
  .hero img {
    transform: translateY(7%);
    -webkit-transform: translateY(7%);
    -moz-transform: translateY(7%);
    -ms-transform: translateY(7%);
    -o-transform: translateY(7%);
}
}


@media (max-width: 321px) {
  .hero img {
    transform: translateY(8%);
    -webkit-transform: translateY(8%);
    -moz-transform: translateY(8%);
    -ms-transform: translateY(8%);
    -o-transform: translateY(8%);
}
}

.hero h2,
.hero h5 {
  color: var(--blue-dark);
}

.partners h6 {
  color: var(--blue-dark);
}

.promotions {
  background: linear-gradient(45deg, var(--primary), var(--purple-dark));
}

.promotions h6,
.promotions h3 {
  color: var(--white);
}

.portfolio h3,
.project-hero h3,
.details h3,
.benefits H3,
.challenges h3,
.solution h3,
.detail h3,
.brand-identity h3,
.logo-section h3,
.typography-section h3,
.our-process h3 {
  color: var(--blue-dark);
}

.hero h6,
.portfolio h6,
.services h6,
.testimonial h6,
.project-hero h6,
.detail h6,
.logo-section h6,
.typography-section h6,
.our-process h6{
  color: var(--green);
}

.logo-section img,
.color-section img,
.typography-section img {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.brand-identity-hero {
  background: linear-gradient(45deg, var(--blue-dark), var(--green));
  background-size: cover;
  height: 600px;
  width: 100%;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.color-section h3,
.color-section h6 {
  color: var(--white);
}

.color-section{
  background-color: var(--blue-light);
}

.testimonial h3 {
  color: var(--blue-dark);
}

.testimonial-single {
  background: linear-gradient(45deg, var(--green),var(--blue));
}

.testimonial-single img{
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.testimonial .card{
  border: 0.5px solid var(--gray-2);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.testimonial .card-body{
  border: 0.5px solid var(--gray-2);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#testimonial-slider {
  border: 2px solid var(--blue-dark);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#testimonial-slider img {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.carousel-inner {
  overflow: hidden;
}

.carousel-item {
  border-radius: 15px;
}

/* Carousel Indicators */
.carousel-indicators {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 30px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255,255,255,.5);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.carousel-indicators li.active {
  background-color: var(--primary); /* Color for the active indicator */
}

.carousel-control-prev,
.carousel-control-next{
  color: var(--blue-dark);
}

.testimonial img {
  width: 70px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.rounded-circle{
  background-color: var(--primary);
}
  
span.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: var(--primary);
  }


.cta {
  background-image:url('assets/img/hero.png');
}

.contact i{
  font-size: 20px;
}

.contact h4 {
  color: var(--blue-dark)
}

.values {
  background-color: var(--blue-dark);
}

.values span,
.our-process   span{
  padding: 30px;
  font-weight: 700;
}

.values .points span{
  padding: 20px;
  width: 80px;
  font-size: 25px;
}

.values h3,
.values h4,
.values p {
  color: var(--white);
}

.values .btn-primary {
  padding: 20px;
  width: 60px;
}

.stats .row{
  background-color: #6e30f5;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.stats .fw-bold {
  color: var(--white);
}
/*Contact*/

.contact-hero { /* Set background color to blue-light */
  background-size: cover;
  width: 100%;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(45deg, var(--blue-dark), var(--primary)); /* Set text color to blue-dark */
}


.contact-hero h3,
.contact-hero h5 {
  color: var(--white); /* Inherit text color from parent (.contact-hero) */
}

.contact .border{
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.contact form input {
  padding: 20px;
  border-radius: 15px ;
  -webkit-border-radius: 15px ;
  -moz-border-radius: 15px ;
  -ms-border-radius: 15px ;
  -o-border-radius: 15px ;
}

.contact form textarea {
  padding: 20px;
  border-radius: 15px ;
  -webkit-border-radius: 15px ;
  -moz-border-radius: 15px ;
  -ms-border-radius: 15px ;
  -o-border-radius: 15px ;
}

.contact form button {
  padding: 20px;
  border-radius: 15px ;
  -webkit-border-radius: 15px ;
  -moz-border-radius: 15px ;
  -ms-border-radius: 15px ;
  -o-border-radius: 15px ;
}

.contact .card{
  padding: 50px;
  background-color: var(--blue-dark);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.contact .card h4,
.contact .card p{
  color: var(--white);
}

.contact .card a{
  color: var(--white);
}

.contact .card a:hover,
.contact .card .social-icons i:hover{
  color: var(--primary);
}

.contact .card .social-icons i{
  font-size: 30px;
  color: var(--white);
}


.faq img {
  height: 40%;
}

/* Add border-radius to accordion items */
.accordion-item {
  border-radius: 15px;
  overflow: hidden;
}

/* Add border-radius to the accordion collapse content */
.accordion-collapse {
  border-radius: 15px;
}

/* Add border-radius to the accordion buttons for smoother corners */
.accordion-button {
  border-radius: 15px;
}


/*About*/

.about-hero {
  background: linear-gradient(45deg, var(--blue-dark), var(--primary));
  background-size: cover;
  width: 100%;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-hero img {
  width: 82.5%;
}

.about {
  background-color: var(--black-alt);
}
.about i {
  color: var(--primary);
}

.about-us i {
  font-size: 30px;
  color: var(--primary);
}

.about-us h5 {
  color: var(--green);
}

.about-us h3,
.about-us h4,
.brand-identity h3 {
  color: var(--blue-dark);
}

.about .btn {
  color: var(--primary);
}

.about a {
  background-color: var(--primary);
  color: var(--white);
  padding: 20px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: ease 0.8s;
  -webkit-transition: ease 0.8s;
  -moz-transition: ease 0.8s;
  -ms-transition: ease 0.8s;
  -o-transition: ease 0.8s;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.about a:hover{
  color: var(--green)
}

.team  {
  background-color: var(--blue-dark);
}

.team h5{
  font-weight: 500;
}

.team p{
  font-weight: 500;
  color: var(--green);
  margin-bottom: 5px;
}


.card-img-top {
  border-radius: 15px 20px 0 0;
}

.card-footer {
  border-radius: 15px;
}



body > section.about.py-3.py-md-5.py-xl-8 > div > div > div:nth-child(1) > img {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}



.cta-card{
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/*Services*/

.benefits .btn-primary {
  padding: 20px;
  width: 60px;
}

.services h3 {
  color: var(--blue-dark);
}

.services-hero {
  background: linear-gradient(45deg, var(--blue-dark), var(--primary));
  background-size: cover;
  width: 100%;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.service-detail-hero {
  background: linear-gradient(45deg, var(--blue-dark), var(--primary));
}

.service-detail-hero img{
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}


.service-section {
  background-color: var(--black-alt);
}

.services .card{
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.services .card-body {
  border: 0.5px solid var(--gray-1);
  border-radius: 15px;


  /* Default styles */
  transition: all 0.3s ease-in-out;

  /* Default color for text */
  color: var(--blue-dark); /* Adjust the default text color as needed */

  /* Hover effect */
  &:hover {
    border-radius: 15px;
    background: linear-gradient(270deg, #4525b6, #6e30f5);
    color: #fff;
    /*Textcoloronhover*/transition: all 0.3s ease-in-out;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

  /* Apply hover effect to p and a tags */
  &:hover p,
  &:hover a,
  &:hover h3 {
    color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
}




  /* Adjust icon margin for spacing */
  .card-body i {
    font-size: 30px;
    color: var(--green);
  }

  .card-body a{
    color: var(--blue-dark);
  }

  .card-body p {
    color: var(--gray-1);
  }

/*Footer*/

footer {
  background-color: var(--blue-dark);
}

footer h5 {
  color: var(--white);
  font-weight: 700;
}

footer li {
  font-size: 16px;
}


footer a {
  color: var(--white);
}

footer a:hover {
  color: var(--green);
}

.copyright {
  color: var(--white);
}

footer .nav {
  text-align: center;
  display: flex;
  list-style-type: none;
}

footer .nav li a i {
  color: var(--white);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .nav li a {
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: var(--white);
  font-size: 14px;
  transition: all 0.3s;
}

footer .nav li a:hover i {
  color: var(--green);
  /* Change the color of the `<i>` element on hover */
}

/* Add this if needed for better responsiveness */
@media (max-width: 767px) {
  .container-fluid.overflow-hidden .row.gy-4.gy-md-0 {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav li {
    margin-right: 0;
    margin-bottom: 10px; /* Adjust the spacing between nav items for smaller screens */
    display: block;
  }
}



.card-image {
  position: relative;
  overflow: hidden;
  border-radius: 15px 20px 0 0; /* Adjust the top left, top right, bottom right, and bottom left values accordingly */
}

.card-image:hover img {
  transform: scale(1.2);
  border-radius: 0 0 0 0; /* Set to 0 for all corners when hovered to remove rounded corners during zoom */
  transition: transform 0.6s ease-in-out, border-radius 0.3s ease-in-out;
}

.card-image img {
  transition: transform 0.6s ease-in-out, border-radius 0.3s ease-in-out;
}

/*Portfolio*/

.portfolio-hero {
  background: linear-gradient(45deg, var(--blue-dark), var(--primary));
  background-size: cover;
  width: 100%;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.portfolio .card-body{
  border: none;
}

.detail img {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.details .card {
  background-color: var(--purple-dark);
  color: var(--white);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.details .card li {
  font-size: 20px;
  font-weight: 500;
}


.details .service-type a {
  text-decoration: none;
  color: var(--white);
}

.details .service-type a:hover {
  color: var(--green)
}

.detail .img-hover {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.detail .img-hover img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.6s ease-in-out, border-radius 0.3s ease-in-out;
}

.detail .img-hover:hover img {
  transform: scale(1.2);
  border-radius: 15px;
}

.our-process span {
  padding: 20px;
  width: 60px;
}

@media (hover: none) and (pointer: coarse) {
  /* Apply hover effect for touch devices */
  .detail .img-hover:hover img {
    transform: scale(1.2);
    border-radius: 15px;
  }
}






.portfolio button {
  width: 200px;
}

.portfolio .card-body {
  border-radius: 0 0 20px 20px;
}

.portfolio h5{
  font-weight: 500;
}

.portfolio h5:hover{
  color: var(--primary);

}

.portfolio p{
  font-weight: 500;
}

/*Clients*/
.client-card {
  border-radius: 15px;
}

.clients {
  background-color: var(--black-alt);
}